body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #f9f5ec;
    color: #4e342e;
  }
  
  .navbar {
    background-color: #c2a47e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .nav-link {
    color: #fffaf0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 1rem;
  }
  
  .nav-link:hover {
    text-decoration:dotted;
  }
  
  .main-heading {
    text-align: center;
    font-size: 3rem;
    margin-top: 1.5rem;
    color: #5e3c28;
    text-shadow: 1px 1px #d6b98c;
    letter-spacing: 2px;
  }
  
  .exercise-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .exercise-card {
    background-color: #fffdf5;
    border: 2px solid #c2a47e;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
  }
  
  .exercise-card:hover {
    transform: translateY(-5px);
  }
  
  .exercise-sketch {
    width: 100%;
    height: 180px;
    border: 1px dashed #999;
    background-color: #f0ebe1;
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 8px;
  }
  
  .exercise-sketch img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  .exercise-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #3c2c23;
  }
  


/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  flex: auto;
  justify-content: center
  
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}